.search-box {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.main-search-container {
  position: relative
}

.fa-search {
  position: absolute;
  top: 30%;
  font-size: 20px;
  right: 90%;
  color: red;
}

.main-input {
  height: 50px;
  width: 380px;
  border:0px;
  margin-bottom: 0px;
  -webkit-appearance: none;
  border-radius: 7px 0px 0px 7px;
  -moz-border-radius: 7px 0px 0px 7px;
  -webkit-border-radius: 7px 0px 0px 7px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  padding:0px 0px 0px 57px;
  border-right:0px;
  outline: none;
}

.select {
  width: 250px;
}

/* responsive css below */
@media only screen and (max-width: 820px) {
  .search-box {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .main-input {
    margin-bottom: 7px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding:0px 0px 0px 10px;
  }

  .select {
    width: 100%;
  }
}

@media only screen and (max-width: 490px) {
  .main-input {
    width: 290px;
    font-size: 14px;
  }

  .select {
    font-size: 14px;
  }
}